{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
		<h4>Article(s) en attente de validation</h4>
        <table class="table table-striped table-hover mb-5">
		  <tr>
		    <th>Id</th>
		    <th>Title</th> 
		    <th>Status</th>
		  </tr>
		  {% for post in posts %}
 			<tr>
			    <td>{{ post.id }}</td>
			    <td>{{ post.title }}</td> 
			    {% if post.status == 1 %}
			    	<td> Validé </td>
			    {% else %}
			    	<td><a href="/admin/posts/activate/{{ post.id }}">Mettre en ligne</a></td>
			    {% endif %}
		  	</tr>
		  {% endfor %}
		</table>

		<h4>Commentaire(s) en attente de validation</h4>
		<table class="table table-striped table-hover mb-5">
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Status</th>
			</tr>
			{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.content|slice(0, 20) }}</td>
					{% if comment.status == 1 %}
						<td> Validé </td>
					{% else %}
						<td><a href="/admin/comments/activate/{{ comment.id }}">Mettre en ligne</a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
    </div>
{% endblock %}
